body{
    color: white;
    padding: 0;
    margin: 0;
}

#header{
    background-color: rgb(0, 70, 128);
    text-align: center;
    font-size:large;
    padding: 1.8%;
    margin: 0px;
    margin-bottom: 5%;
}

#Layouts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.cadadiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 3% 2% 3%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
    background-color: rgb(28, 126, 184);
    border-radius: 50px;
    padding: 2%;
}

.tumbs{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
    margin-top: 5%;
    margin-bottom: 4%;
}

.txt{
    margin-top: 3%;
    font-size: 250%;
}

.dsc{
    margin-bottom: 5%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.div{
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: 100%;
    justify-content: center;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(34, 170, 0);
    border-radius: 10px;
    padding: 1%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
}

