@font-face {
    font-family: 'MinhaFonte';
    src: url('../outros/AlfabetoGyorge.ttf') format('truetype');
}

body{
    padding: 0;
    margin: 0;
    font-family: 'MinhaFonte', sans-serif;
}

#site{
    background: linear-gradient(to top left, rgb(93, 5, 128), rgb(69, 163, 250));
    margin: 0;
}

#logo{
    font-family: 'MinhaFonte', sans-serif;
    font-size: 50PX;
    display: flex;

}

#imglogo{
    border-radius: 30px;
    margin: 10px;
    margin-right: 65%;
    height: 100px;
    width: 110px;
}

#link{
    margin: 10px;
    color: white;
    text-decoration: none;
}

#amgimg{
    height: 200px;
    width: 200px;
    border-radius: 30px;
    margin: 10px;
    margin-right: 20px;
}

#N1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color: white;
    font-size: 25px;
}

#terimg{
    height: 200px;
    width: 200px;
    border-radius: 30px;
    margin: 10px;
    margin-right: 20px;
}

#N2{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

#N3{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}