/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Logo{
    border-radius: 100%;
    width: 5%;
    height: 5%;
}
#Links{
    display: flex;
    gap: 10%;
    margin-right: 5%;
}
#logodiv{
    display: flex;
    gap: 10%;
    margin-right: 5%;
}
a{
    color: black;
    text-decoration: none;
}
/* Body */
bodys{
    width: 100%;
    height: 100%;
}

    /* Imgs */
    #capa {
        margin-top: 2%;
        width: 100%;
        display: flex;
        flex-direction: row;
        color: white;
        gap: 1%;
        padding-bottom: 2%;
        border-bottom: 3px dotted #eee;
    }
    button{
        background-color: rgba(0, 0, 0, 0);
        border: solid white 2px;
        color: white;
    }
    #img25{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2%;
        column-gap: 2%;
        width: 100%;
    }
    .imgs{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        width: 100%;
    }
    .imgstext{
        margin: 1%;
    }
    #img1{
        background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5)),
        url('../imgs/Roupasarmario.jpg');
        padding: 10%;
    }
    #img2{
        background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5)),
        url('../imgs/roupasfemininas.jpg');
    }
    #img3{
        background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5)),
        url('../imgs/roupasmasculinas.jpeg');
    }
    #img4{
        background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5)),
        url('../imgs/kid.jpg');
    }
    #img5{
        background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5)),
        url('../imgs/acessorios.avif');
    }

    /* Produtos */
    .Produtos{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-content: center;
        border-bottom: 3px dotted #eee;
        
    }
    #seta{
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
    }
    #setap{
        border: 2px solid rgb(92, 92, 92);
        font-size: 150%;
        padding: 3%;
    }
    .itens{
        margin: 5%;
    }
    .imgsprodutos{
        width: 100%;
        height: auto;
    }
    #Produtos{
        text-align: center;
    }

    /* capafinal */
    #capafinal{
        margin-top: 2%;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1%;
        padding-bottom: 2%;
        border-bottom: 3px dotted #eee;
        color: white;
    }
    #textofinal{
        padding: 3%;
        color: black;
    }
