@font-face {
    font-family: 'MinhaFonte';
    src: url('Alfabeto\ Gyorge.ttf') format('truetype');
}

body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#menu {
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
#img{
    margin-right: 35%;
}
#img2{
    width: 50%;
}
#link{
    padding-top: 3%;
    text-decoration: none;
    color: white;
    margin-right: 2%;
}
#div1{
    background-image: url(download.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    width: 80%;
    padding-top: 10%;
    margin: 2% 0 2% 0;
}

#video{
    width: 40%;
    height: auto;
}

video{
    width: 40%;
    padding: 0;
}

#div2{
    width: 80%;
}

#texto{
    margin-left: 5%;
    justify-content: center;
    align-content: center;
    width: 55%;
    text-align: center;
    text-align: center;
}

#texto2{
    text-align: center;
    width: 40%;
    padding-top: 5%;
}

@media only screen and (orientation: landscape) {
    #menu {
        background-color: rgb(78, 78, 78);
    }   
    #div2{
        display: flex;
        flex-direction: row;
    } 
}

@media only screen and (orientation: portrait) {
    #menu {
        background-color: rgb(47, 75, 128);
    }    
    #div2{
        display: flex;
        flex-direction: column;
    }
    #texto{
        margin-left: 0;
        width: 100%;
    }
    #texto2{
        width: 80%;
    }
    video{
        width: 100%;
    }
}