body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 80%;
    margin: 0;
    box-sizing: border-box;
    padding: 50px 35% 0 35%;
}

table {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

th,td {
    padding: 2% 0 2% 0;
}

#Dias{
    background-color: rgb(255, 255, 139);
}

#Noites{
    background-color: rgb(198, 136, 255);
}

#Tardes{
    background-color: rgb(211, 255, 145);
}